{{#partial "content"}}
    <div class="well">
    <h3>Stock photos have gone wrong</h3>
    <p>While the ready availability of stock photos has been a boon to creative professionals of all stripes we have now reached the point where the volume of photos has spawned attempts by photographers to .... think outside the box.  The insanity must stop.  Following are just a few examples:</p>
    <img class="about-images" src="images/blue-orange.jpg">
    <img class="about-images" src="images/goat-suit.jpg">
    <img class="about-images" src="images/groucho-dog.jpg">
    <img class="about-images" src="images/ground-bound.jpg">
    <img class="about-images" src="images/kid-takeover.jpg">
    <img class="about-images" src="images/lizard-leap.jpg">
    <img class="about-images" src="images/pizza-pool.jpg">
    <img class="about-images" src="images/potato-euro.jpg">
    </div>
{{/partial}}

{{> layout.hbs}}