{{#partial "content"}}
    {{#if teams}}
        {{#each teams}}
            <div class="well">
            <h3>{{name}}</h3>
            <p>{{description}}</p>
            <p><a href="teams/{{id}}">view/add team members</a></p>
            </div>
        {{/each}}
    {{else}}
        <h3>Sorry, no teams have been added</h3>
    {{/if}}
{{/partial}}

{{> layout.hbs}}