<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/App.css">
    <title>{{#block "title"}}Hack-for-Good-a-thon{{/block}}</title>
</head>
<body>
<ul class="nav nav-pills">
    <li role="presentation"><a href="/">Teams</a></li>
    <li role="presentation"><a href="/teams/new">Add Team</a></li>
    <li role="presentation"><a href="/about">About</a></li>
</ul>
<div class="main">
<div class="jumbotron">
    <h1>Hack-for-Good-a-thon</h1>
    <p><em>a hack-a-thon focused on creating apps to make the world a better place</em></p>
</div>
{{#block "content"}}
{{/block}}
</div>
</body>
</html>