<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/App.css">
    <title>{{#block "title"}}Why?!-Hack-a-Thon{{/block}}</title>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Teams</a></li>
    <li role="presentation"><a href="/teams/new">Add Team</a></li>
    <li role="presentation"><a href="/about">About</a></li>
</ul>
<div class="main">
<div class="jumbotron">
    <h1>Why?!-Hack-a-Thon</h1>
    <p><em>a scourge of weird stock photos plagues the internet, were gonna code to help!</em></p>
</div>
    <div class="container">
{{#block "content"}}
{{/block}}
    </div>
</div>
</body>
</html>