{{#partial "content"}}
    <div class="well">
    <h3>Success!</h3>
    <p>The team member has been saved</p>
    <br>
    <a href="/"><button class="btn btn-default"><-</button></a>
    </div>
{{/partial}}

{{> layout.hbs}}